{
	"comments": [
		"`delay`s are in ms.",
		"With a global `delay` every plug will be stopped automatically.",
		"`type`is essentially for the frontend",
		""
	],
	"delay": 15000,
	"plugs": [
		{
			"id": "plugId",
			"pin": 1,
			"offState": 0,
			"host": "ip|hostname",
			"type" : "timer|switch",
			"label" : "Beautiful name",
			"delay" : 20000,
			"disabled" : true,
			"comments": [
				"`id` and `pin` are mandatory. If `type` == 'timer', `delay` is also mandatory unless a global `delay`is present.",
				"`type` defaults to 'switch'.",
				"`host` defaults to 'localhost'.",
				"`disabled` defaults to false",
				"`offState` defaults to a falsy value",
				"A 'switch' can be stopped after a `delay` but a 'timer' is always.",
				"offState can be falsy or truthy. A falsy value indicate that the pin need a drive high to activate.",
				""
			]
		}
	]
}
